body {
  margin: 0;
}

.app {
  display: flex;
  padding: 6px;
  flex-direction: column;
  height: 100vh;
}

.menu {
  padding: 2px;
  min-height: 10px;
  flex-shrink: 0;
}

.workspace {
  flex: 1;
  display: flex;
  min-height: 0;
}

* {
  font-family: monospace;
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

.sideExplorer {
  flex-shrink: 0;
  width: 20vw;
  max-width: 500px;
  background-color: #fefefe;
  border: 1px solid #000000;
  margin-right: 6px;
}

.sideExplorerContents{
    padding: 4px;
}

.sideExplorerMenu,
.windowMenu,
.windowExplorerMenu {
  flex-shrink: 0;
  padding: 4px;
  border-bottom: 1px solid #5c6460;
}

@media (max-aspect-ratio: 4/3) {
  .sideExplorer {
    display: none;
  }
}

.window {
  flex-direction: column;
  display: flex;
  min-height: 0;
  min-width: 0;
  width: 100%;
  border: 1px solid #000000;
  position: relative;
}

.windowMenu {
}

.windowExplorer {
  position: absolute;
  inset: 0;
  background-color: #000000aa;
}

.windowExplorerMenu {
  color: white;
  background-color: #000000;
}

.windowName {
  flex-shrink: 0;
  border-bottom: 1px solid #5c6460;
  padding: 3px;
}

.windowContents {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.flexLine {
  display: flex;
}

.box {
  background-color: transparent;
  padding: 8px;
  width: 100%;
  overflow-wrap: anywhere;
  word-break: normal;
}

.sideBox {
  color: #8e9793;
  background-color: #5c6460;
  border: 1px sloid #35cc81;
  width: 45vw;
  max-width: 400px;
  padding: 8px;
  overflow-wrap: anywhere;
  word-break: normal;
}

/*トップメニュー*/
.file,
.edit,
.view,
.help {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.fileMenu,
.editMenu,
.viewMenu,
.helpMenu {
  width: 180px;
  display: none;
  border: 1px solid #000000;
  background-color: #fefefe;
  position: absolute;
  z-index: 9999;
}

.file:focus .fileMenu,
.edit:focus .editMenu,
.view:focus .viewMenu,
.help:focus .helpMenu {
  display: block;
}
