body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(7, 10, 10);
  margin: 0;
}

*{
    font-family: monospace;
}

h3{
    margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  min-height: 100%;
  background-color: #0e1414;
}

.headerMenu {
    padding: 4px;
    border-bottom: 1px solid #5c6460;
}

.flexLine{
  display: flex;
}

.darkWindow{
    color: #7d8581;
    margin: 16px;
    border: 1px solid #5c6460;
    background-color: #122220;
}

.box{
    background-color: transparent;
    padding: 8px;
    width: 100%;
    overflow-wrap: anywhere;
    word-break: normal;
}

.sideBox{
    color: #8e9793;
    background-color: #5c6460;
    border: 1px sloid #35cc81;
    width: 45vw;
    max-width: 400px;
    padding: 8px;
    overflow-wrap: anywhere;
    word-break: normal;
}